@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-primary-light: #ffffff;
  --color-secondary: #7c3aed;
  --color-secondary-light: #a78bfa;
  --color-secondary-dark: #5b21b6;
}

@variant dark (&:where(.dark, .dark *));